.team-match-container {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.match-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-top: 50px;
}

.rcb-bg {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.kkr-bg {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.kxp-bg {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.csk-bg {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.rr-bg {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.mi-bg {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.srh-bg {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.dc-bg {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.match-team-logo {
  width: 80vw;
  height: 40vh;
}

.latest-matches-container {
  text-align: left;
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .match-team-logo {
    height: 25vh;
  }
  .latest-matches-container {
    margin-left: 30px;
  }
  .match-list {
    margin-left: 0px;
  }
}
